
# ============================================================
# WEB FRAMEWORK
# ============================================================

fastapi
uvicorn[standard]


# ============================================================
# ENVIRONMENT / CONFIGURATION
# ============================================================

python-dotenv


# ============================================================
# DATABASE
# ============================================================

sqlalchemy
psycopg2-binary


# ============================================================
# DATA VALIDATION
# ============================================================

pydantic
pydantic-settings
email-validator


# ============================================================
# FORM DATA / FILE UPLOADS
# ============================================================

python-multipart


# ============================================================
# AUTHENTICATION / SECURITY
# ============================================================

pyjwt
pwdlib[argon2]


#Brevo's Python SDK#

sib-api-v3-sdk